@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville-regular {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: normal;
}

.baskervville {
  font-family: "Baskervville", serif;
  font-weight: 600;
  font-style: normal;
}

.baskervville-regular-italic {
  font-family: "Baskervville", serif;
  font-weight: 400;
  font-style: italic;
}


.literata {
  font-family: "Literata", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.cormorant {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.roboto {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.scope-one-regular {
  font-family: "Scope One", serif;
  font-weight: 400;
  font-style: normal;
}
.scope-one-medium {
  font-family: "Scope One", serif;
  font-weight: 700;
  font-style: normal;
}


.cinzel {
  font-family: "Cinzel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.bg-img {
  background-image: url('/src/assets/hero.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */
  background-position: center;
}

.slick-slide>div {
  margin: 0 15px;
}



@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }
}

.animate-gallery-left {
  animation: scrollLeft 10s linear infinite;
}

.animate-gallery-right {
  animation: scrollRight 10s linear infinite;
}

.delay-1 {
  animation-delay: 0s;
}

.delay-2 {
  animation-delay: 5s; /* Adjust the delay as needed */
}

.delay-3 {
  animation-delay: 10s; /* Adjust the delay as needed */
}

.gallery-img {
  width: 120px;
  height: 80px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.gallery-img:hover {
  transform: scale(1.05);
}
